[submodule "bgfx"]
	path = bgfx
	url = https://github.com/nkari82/bgfx.git
	branch = dev
[submodule "bx"]
	path = bx
	url = https://github.com/bkaradzic/bx.git
	branch = master
[submodule "bimg"]
	path = bimg
	url = https://github.com/bkaradzic/bimg.git
	branch = master
